/* Home.module.css */
.container {
  font-family: sans-serif;
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  padding: 2rem;
}

@media (min-width: 640px) {
  .container {
    padding: 5rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  align-items: center;
}

@media (min-width: 640px) {
  .main {
    align-items: flex-start;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1rem;
}

.subtitle {
  font-size: 1.125rem;
  font-weight: 500;
}
